<html>
   <head>
      <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="/css/proj.css" rel="stylesheet"/>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
      <script src="/js/ngApp.js"></script>
   </head>
   <body ng-app="app">
      <%- partial('main/navbar') %>
      <div class="col-md-9 col-md-offset-1">
         <ui-view></ui-view>
      </div>
      <%- partial('authorization/login') %>
      <%- partial('authorization/register') %>
      <%- partial('authorization/accountDetails') %>
      <%- partial('administration/manageUsers') %>
      <%- partial('administration/manageGames') %>
      <%- partial('administration/manageLeagues') %>
      <%- partial('leagues/createLeague') %>
      <%- partial('leagues/viewLeague') %>
      <%- partial('statistics/userStats') %>
      <%- partial('main/home') %>
   </body>
</html>